@import "tailwindcss";

@font-face {
    font-family: Rebellion;
    src: url('fonts/RebellionSquad-ZpprZ.ttf');
  }

body {
    background-color: theme(colors.slate.700);
}

#title {
    font-family:Rebellion;
}