---
import GameLoader from '../components/GameLoader.tsx';

import '../styles/global.css';
import bootstrap from "bootstrap/dist/js/bootstrap.bundle.min.js?url";
---

<!doctype html>
<html lang="de">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
<GameLoader client:load/>
</body>
</html>